$bg-secondary: #f9fafb;
$bg-transparent: color(display-p3 255 255 255 / 0.01%);
$bg-quaternary: #eaecf0;
$bg-primary: white;

$fg-primary: #418d23;
$fg-secondary: #d0d5dd;

$alpha-white-100: white;

$border-secondary: #eaecf0;

$text-primary: #101828;
$text-secondary: #344054;
$text-brand-secondary: #346c1f;

$button-primary-fg: white;
$button-primary-bg: #418d23;
$button-primary-border: #418d23;
$button-secondary-fg: #344054;
$button-secondary-bg: white;
$button-secondary-border: #d0d5dd;

$utility-success-50: #ecfdf3;
$utility-success-200: #abefc6;
$utility-success-700: #067647;

$loader: #007bff;
