$bg-secondary: #f9fafb;
$bg-transparent: rgba(255, 255, 255, 0.0001);
$bg-quaternary: #eaecf0;
$bg-primary: white;

$fg-senary: #d0d5dd; // (300)
$fg-brand-primary: #418d23; // (600)

$alpha-white-100: white;

$border-secondary: #eaecf0;

$text-primary: #101828; //900
$text-secondary: #344054; // (700)
$text-brand-secondary: #346c1f; // (700)

$button-primary-fg: white;
$button-primary-bg: #418d23;
$button-primary-border: #418d23;
$button-secondary-fg: #344054;
$button-secondary-bg: white;
$button-secondary-border: #d0d5dd;

$utility-success-50: #ecfdf3;
$utility-success-200: #abefc6;
$utility-success-700: #067647;

//$black: black;
//
//$primary: #0067fa;
//$secondary: #999999;
//$error: #dd514c;
//$success: #4caf50;
//$light: #f4f4f4;
//$warning: #ffc107;
//
//$apollo-primary: #0768fd;
//$apollo-success: #00c221;
//$apollo-action: #6c757d;
//$apollo-action-secondary: #595959;
//
//$light-border: #d9d9d9;
//$text-color: #444444;
//$dark-text-color: #212529;
//$disabled-text: #979797;
//
//$title-color: #333333;
//$selected-row-color: #ecf3ff;
//
//$navigation-background-gradient-color: #0077aa;
//$violent-violet: #260c55;
//
//$disabled-input-color: #adb5bd;
//
//$required: #e20000;
//
//$border-color: #d9d9d9;
//$purple: #6f42c1;
//$purple-secondary: #9345d1;
//
//$thead-text-color: #495057;
//$thead-background-color: #f6f7fb;
//
//$box-shadow-neutral:  0 4px 16px 0 #0000000A;
