@import './colors';
@import './fonts';
@import './mixins';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-family-body;
  font-size: 14px;
  font-weight: $fw-normal;
  line-height: $line-height-text-sm;
  background-color: $bg-secondary;
  color: $text-primary;
}

.loader {
  font-size: $text-lg;
  color: $loader;
  text-align: center;
  margin-top: $spacing-2xl;
}

button {
  height: 36px;
  border-radius: $radius-md;
  padding: $spacing-md $spacing-lg;
  box-shadow: $shadow-xs;
  border: 1px solid $button-secondary-border;
  background-color: $button-secondary-bg;
  color: $button-secondary-fg;
  cursor: pointer;

  @include text-sm-semibold;
}

h3 {
  @include text-lg-semibold;

  margin-top: 0;
}

.no-data {
  @include text-sm-regular;

  text-align: center;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: $spacing-xl auto;
  width: 300px;
}

@media (width <= 768px) {
  body {
    background-color: $bg-primary;
  }
}
