@import '../styles/fonts';

:host {
  display: flex;
  flex-direction: column;
  gap: $spacing-6xl;
  padding-bottom: $spacing-10xl;
}

@media (width <= 768px) {
  :host {
    gap: $spacing-sm;
    padding-bottom: $spacing-2xl;
  }
}
